html, body {
    height: 100%;
}

body {
    background-color: #b4cfe2;
}

nav.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}
    nav.navbar > .container-fluid {
        width: 100%;
    }
    
    nav.navbar .navbar-brand {
        line-height: 42px;
        margin-right: 0;
        padding-left: 0;
    }
    
    nav.navbar .navbar-brand > img {
        width: 42px;
        height: 42px;
    }

.form-group > input.form-control,
.form-group > select.form-control {
    padding-left: 5px;
    padding-right: 5px;
}

body > .container-fluid {
    margin-top: 60px;
}
    body > .container-fluid .menu-column {
        padding-top: 8px;
        padding-bottom: 8px;
    }

        body > .container-fluid .menu-column > ul > li > a {
            background-color: #7ca8c7;
            color: #b4cfe2;
            border-radius: 0;
        }

        body > .container-fluid .menu-column > ul > li > a:hover {
            background-color: #6397bc;
            color: #fff;
        }
        
        body > .container-fluid .menu-column > ul > li.is-active > a,
        body > .container-fluid .menu-column > ul > li.is-active > a:hover {
            background-color: #6abc63;
            color: #fff;
        }

    body > .container-fluid .main-page {
        position: relative;
        z-index: 5;
        border-radius: 2px;

        -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.form-inline .form-group {
    width: 100%;
    margin-bottom: 10px;
}

    .form-inline select.form-control {
        display: block;
    }

.form-buttons {
    text-align: right;
    margin-top: 48px;
}

    .form-buttons #createPartyGiveUpBtn {
        float: left;
    }

.create-national-party-success .panel .panel-body > button {
    float: right;
}

.chapter-dashboard .profile-switcher {
    text-align: center;
    font-size: 150%;
}

    .chapter-dashboard .profile-switcher select {
        color: white;
        font-size: 100%;
        display: inline;
        width: auto;
    }
    .chapter-dashboard .profile-switcher select option {
        color: black;
    }

.chapter-dashboard .header-buttons {
    float: right;
}
    .chapter-dashboard .header-buttons button {
        display: block;
        width: 100%;
    }

.chapter-dashboard .dashboard-user {
    display: inline-block;
    margin: 0 16px 16px 0;
    vertical-align: top;
}

.chapter-dashboard img {
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}
    .chapter-dashboard .elected-president img,
    .chapter-dashboard .elected-secretary img {
        max-height: 90px;
    }

.chapter-dashboard .secretary-designation-form > div.not-allowed label {
    color: #aaa;
}
.chapter-dashboard .secretary-designation-form > div.not-allowed select {
    color: #999;
    background-color: #ddd;
}

.chapter-dashboard .moderators-panel .dashboard-user {
    width: 23%;
}
.chapter-dashboard .forum-panel .dashboard-user {
    width: 23%;
}
.chapter-dashboard .candidate-user {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-left: 32px;
}
.chapter-dashboard .become-a-candidate {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    text-align: center;
    margin-left: 32px;
}
    .chapter-dashboard .become-a-candidate .btn {
        padding: 16px;
        margin-top: 48px;
    }

.chapter-dashboard .non-elected-secretary form {
    padding: 12px 48px;
}

@media (min-width: 544px) {
    .form-inline .form-group > label {
        width: 24%;
        margin-right: 1%;
        text-align: right;
    }

    .form-inline #partyName {
        width: 73%;
    }

    .form-inline select.form-control {
        display: inline-block;
        width: 60%;
    }
        
    .chapter-dashboard .moderators-panel .dashboard-user {
        width: 48%;
    }
    .chapter-dashboard .forum-panel .dashboard-user {
        width: 18%;
    }
}

@media (min-width: 768px) {

    body > .container-fluid {
        margin-top: 0;
        height: 100%;
    }

        body > .container-fluid  > .row {
            height: 100%;
        }

        body > .container-fluid .menu-column {
            padding-top: 80px;
            position: fixed;
        }

            body > .container-fluid .menu-column > ul > li {
                display: block;
                width: 100%;
                margin: 2px 0;
            }

        body > .container-fluid .main-page {
            z-index: 20;
            margin: 3% 0 3% 0;
        }
        
    .chapter-dashboard .moderators-panel .dashboard-user {
        width: 31%;
    }
    .chapter-dashboard .forum-panel .dashboard-user {
        width: 15%;
    }
}

@media (min-width: 992px) {
    .chapter-dashboard .moderators-panel .dashboard-user {
        width: 23%;
    }
    .chapter-dashboard .forum-panel .dashboard-user {
        width: 13%;
    }
}

@media (min-width: 1200px) {
    .chapter-dashboard .moderators-panel .dashboard-user {
        width: 18%;
    }
    .chapter-dashboard .forum-panel .dashboard-user {
        width: 11%;
    }
}