html, body {
    height: 100%;
}

body {
    background-color: #b4cfe2;
}

nav.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}
    nav.navbar > .container-fluid {
        width: 100%;
    }
    
    nav.navbar .navbar-brand {
        line-height: 42px;
        margin-right: 0;
        padding-left: 0;
    }
    
    nav.navbar .navbar-brand > img {
        width: 42px;
        height: 42px;
    }

body > .container-fluid {
    margin-top: 60px;
}
    body > .container-fluid .menu-column {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
        body > .container-fluid .menu-column > ul > li > a {
            background-color: #7ca8c7;
            color: #b4cfe2;
            border-radius: 0;
        }

        body > .container-fluid .menu-column > ul > li > a:hover {
            background-color: #6397bc;
            color: #fff;
        }

    body > .container-fluid .main-page {
        position: relative;
        z-index: 5;
        border-radius: 2px;

        -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.form-inline .form-group {
    width: 100%;
    margin-bottom: 10px;
}

    .form-inline #partyCountry {
        display: block;
    }

    .form-inline #partyCountry > button {
        float: none;
    }

.form-buttons {
    text-align: right;
    margin-top: 48px;
}

    .form-buttons #createPartyGiveUpBtn {
        float: left;
    }

.create-national-party-success .panel .panel-body > button {
    float: right;
}

.chapter-dashboard .header-buttons {
    float: right;
}
    .chapter-dashboard .header-buttons button {
        display: block;
        width: 100%;
    }

.chapter-dashboard img {
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}
    .chapter-dashboard .president-panel img,
    .chapter-dashboard .secretary-panel img {
        max-height: 90px;
    }
.chapter-dashboard .moderators-panel img {
    width: 23%;
}
.chapter-dashboard .forum-panel img {
    width: 23%;
}


@media (min-width: 544px) {
    .form-inline .form-group > label {
        width: 24%;
        margin-right: 1%;
        text-align: right;
    }
    .form-inline .form-group > input.form-control,
    .form-inline .form-group > select.form-control {
        padding-left: 5px;
        padding-right: 5px;
    }

    .form-inline #partyName {
        width: 73%;
    }

    .form-inline #partyCountry {
        display: inline-block;
        width: 60%;
    }

        .form-inline #partyCountry > button {
            width: 100%;
            text-align: left;
        }

    .form-inline #partyZipCode {
        width: 90px;
        text-align: right;
    }
        
    .chapter-dashboard .moderators-panel img {
        width: 48%;
    }
    .chapter-dashboard .forum-panel img {
        width: 18%;
    }
}

@media (min-width: 768px) {

    body > .container-fluid {
        margin-top: 0;
        height: 100%;
    }

        body > .container-fluid  > .row {
            height: 100%;
        }

        body > .container-fluid .menu-column {
            padding-top: 80px;
            position: fixed;
        }

            body > .container-fluid .menu-column > ul > li {
                display: block;
                width: 100%;
                margin: 2px 0;
            }

        body > .container-fluid .main-page {
            z-index: 20;
            margin: 3% 0 3% 0;
        }
        
    .chapter-dashboard .moderators-panel img {
        width: 31%;
    }
    .chapter-dashboard .forum-panel img {
        width: 15%;
    }
}

@media (min-width: 992px) {
    .chapter-dashboard .moderators-panel img {
        width: 23%;
    }
    .chapter-dashboard .forum-panel img {
        width: 13%;
    }
}

@media (min-width: 1200px) {
    .chapter-dashboard .moderators-panel img {
        width: 18%;
    }
    .chapter-dashboard .forum-panel img {
        width: 11%;
    }
}